* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Light", sans-serif;
}

.payment-methods {
    display: flex;
    justify-content: space-between;
}

.payment-methods__items {
    width: 25%;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.payment-methods__item {
    user-select: none;
    cursor: pointer;
    margin: 50px;
    width: 80%;
}

.payment-methods__text {
    width: 80%;
}

.payment-methods__img {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 24%;
}